.login-page {
  display: flex;
}
.login-section {
  width: 42%;
  background-color: #202020;
}
.image-section {
  background-color: #cfd5da;
  width: 58%;
  display: block;
}
.image-section img {
  width: 99%;
  object-fit: cover;
}
.form-heading {
  color: #cca071;
  margin-bottom: 0.5rem;
}
.Signin {
  color: #cca071;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
/* ---------------------------------- */
.form_container {
  width: 80%;
  background-color: #202020;
  padding: 1rem;
}
.form-control {
  background-color: #cfd5da;
  color: #202020;
}
.form-control::placeholder {
  color: #202020;
}
.btn {
  border: 1px solid #cfd5da;
  color: #cfd5da;
}
.btn:hover {
  background-color: #9b9c9b;
  color: #202020;
}
.label-text {
  color: #cfd5da;
}
.custom-input-label {
  color: #cfd5da;
}
.forgot-password {
  color: #cca071;
  font-weight: 500;
}
.rememberMe-forgotPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rememberMe-holder {
  margin-bottom: 0.5rem;
}
@media (max-width: 1024px) {
  .rememberMe-forgotPassword {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .rememberMe-holder {
    margin-bottom: 0;
  }
  /* .forgot-password-holder {
    justify-content: flex-start;
  } */
}

@media (max-width: 900px) {
  .form_container {
    width: 80%;

    padding: 0;
  }
  .image-section {
    width: 50%;
  }
  .login-section {
    width: 50%;
  }
  .form-heading {
    font-size: 1.6rem;
  }
  .Signin {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .rememberMe-forgotPassword {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 550px) {
  .form_container {
    width: 80%;

    padding: 0;
  }
  .image-section {
    width: 0%;
    display: none;
  }
  .login-section {
    width: 100%;
  }
  /* .form-heading {
    margin-bottom: 1rem;
  } */
  .Signin {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .rememberMe-forgotPassword {
    margin-bottom: 0.5rem;
  }
}
